<a href="https://colab.research.google.com/github/pck196/Python_Assignment/blob/master/Python_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Importing pandas, numpy, matplotlib, seaborn and OS
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import os

In [0]:
#Checking panda version
print(np.__version__)
print(pd.__version__)
print(sns.__version__)

**1. Read the file studentlist.csv.**

In [0]:
st_ds = pd.read_csv('C:\python\Student_List.csv')
print(st_ds.shape)
st_ds.head()

**2. Read the files present in the folders batchwiselist.**

In [0]:
path = r'C:\python\batchwiselist'
all_files = glob.glob(path +"/*.csv")
lst = []
for i in all_files:
    df = pd.read_csv(i)
    lst.append(df)
    
tot_lst = pd.concat(lst)
print(tot_lst.shape)

**3. Read the files present in the folders quiz.**

In [0]:
path = r'C:\python\quiz'
all_files = glob.glob(path +"/*.csv")

quiz = []

for i in all_files:
    df = pd.read_csv(i)
    quiz.append(df)

quiz1 = quiz[0]
quiz2 = quiz[1]

bth_quiz = pd.concat(quiz)
bth_quiz.head(3)
quiz1 = quiz1.drop(columns=['ID number','Institution',"Department",'Email address'])
quiz2 = quiz2.drop(columns=['ID number','Institution',"Department",'Email address'])

In [0]:
print(quiz1.shape)
quiz1.head()

**4. Statistics dataframe for each batch should include the column names with the respective statistics value. The column names infer the meaning of each column.**

In [0]:
stat_df= pd.DataFrame (columns = ["no of present", "lessthan50", "between50and60", 
                                  "between60and70", "between70and80", "greaterthan80"],index=["Quiz_1","Quiz_2"])

stat_df

**5. Manipulate the data and create a Statistics dataframe in such a way that it allocates marks to the students of each batch for the quizzes.**

In [0]:
quiz1["Firstname"] = quiz1["Firstname"].dropna()
quiz2["Firstname"] = quiz2["Firstname"].dropna()

In [0]:
quiz1["Grade/10.00"] = quiz1["Grade/10.00"].str.replace("-","0")
quiz2["Grade/10.00"] = quiz2["Grade/10.00"].str.replace("-","0")
quiz1["Grade/10.00"] = quiz1["Grade/10.00"].apply(pd.to_numeric)
quiz2["Grade/10.00"] = quiz2["Grade/10.00"].apply(pd.to_numeric)

In [0]:
print(quiz1[quiz1["Grade/10.00"]<5]["Firstname"].count())
print(quiz2[quiz2["Grade/10.00"]<5]["Firstname"].count())

In [0]:
quiz1.count()

In [0]:
stat_df["no of present"]= [quiz1["Firstname"].count(),quiz2["Firstname"].count()]
stat_df["lessthan50"] = [quiz1[quiz1["Grade/10.00"].between(0,4.9,inclusive=True)]["Firstname"].count(),
                         quiz2[quiz2["Grade/10.00"].between(0,4.9)]["Firstname"].count()]
stat_df["between50and60"] = [quiz1[quiz1["Grade/10.00"].between(5,5.9,inclusive=True)]["Firstname"].count(),
                             quiz2[quiz2["Grade/10.00"].between(5,5.9,inclusive=True)]["Firstname"].count()]
stat_df["between60and70"] = [quiz1[quiz1["Grade/10.00"].between(6,6.9,inclusive=True)]["Firstname"].count(),
                             quiz2[quiz2["Grade/10.00"].between(6,6.9,inclusive=True)]["Firstname"].count()]
stat_df["between70and80"] = [quiz1[quiz1["Grade/10.00"].between(7,7.9,inclusive=True)]["Firstname"].count(),
                             quiz2[quiz2["Grade/10.00"].between(7,7.9,inclusive=True)]["Firstname"].count()]
stat_df["greaterthan80"] = [quiz1[quiz1["Grade/10.00"].between(8,10,inclusive=True)]["Firstname"].count(),
                            quiz2[quiz2["Grade/10.00"].between(8,10,inclusive=True)]["Firstname"].count()]


stat_df

In [0]:
path = r'C:\python\batchwiselist'
all_files = glob.glob(path +"/*.csv")
all_files[0]
file = []

for i in all_files:
    df = pd.read_csv(i)
    file.append(df)

In [0]:
quiz_1 = pd.merge(quiz1,st_ds,left_on='Firstname',right_on='studentname',how='right')
quiz_2 = pd.merge(quiz2,st_ds,left_on='Firstname',right_on='studentname',how='right')
print(quiz_1.shape)
quiz_1["Grade/10.00"] = quiz_1["Grade/10.00"].fillna(0)
quiz_2["Grade/10.00"] = quiz_2["Grade/10.00"].fillna(0)

In [0]:
n = 18
#quiz-1
b_q1 = []
for i in range(n+1):
    qz = pd.merge(file[i],quiz_1,left_on='studentName',right_on='studentname',how='left')
    b_q1.append(qz)

print(b_q1[0].shape)
b_q1[0].head(3)

#quiz-2
b_q2 = []
for i in range(n+1):
    qz = pd.merge(file[i],quiz_2,left_on='studentName',right_on='studentname',how='left')
    b_q2.append(qz)

print(b_q2[0].shape)
b_q1[0].head(3)

In [0]:
result1= pd.DataFrame (columns = ["no of present", "lessthan50", "between50and60", 
                                  "between60and70", "between70and80", "greaterthan80"],index=["Quiz_1","Quiz_2"])
result1

In [0]:
result1["no of present"]= [b_q1[0]["studentName"].count(),b_q2[0]["studentName"].count()]
result1["lessthan50"] = [b_q1[0][b_q1[0]["Grade/10.00"].between(0,4.9,inclusive=True)]["studentName"].count(),
                         b_q2[0][b_q2[0]["Grade/10.00"].between(0,4.9)]["studentName"].count()]
result1["between50and60"] = [b_q1[0][b_q1[0]["Grade/10.00"].between(5,5.9,inclusive=True)]["studentName"].count(),
                             b_q2[0][b_q2[0]["Grade/10.00"].between(5,5.9,inclusive=True)]["studentName"].count()]
result1["between60and70"] = [b_q1[0][b_q1[0]["Grade/10.00"].between(6,6.9,inclusive=True)]["studentName"].count(),
                             b_q2[0][b_q2[0]["Grade/10.00"].between(6,6.9,inclusive=True)]["studentName"].count()]
result1["between70and80"] = [b_q1[0][b_q1[0]["Grade/10.00"].between(7,7.9,inclusive=True)]["studentName"].count(),
                             b_q2[0][b_q2[0]["Grade/10.00"].between(7,7.9,inclusive=True)]["studentName"].count()]
result1["greaterthan80"] = [b_q1[0][b_q1[0]["Grade/10.00"].between(8,10,inclusive=True)]["studentName"].count(),
                            b_q2[0][b_q2[0]["Grade/10.00"].between(8,10,inclusive=True)]["studentName"].count()]

result1

In [0]:
rst = []

for i in range(n+1):
    result= pd.DataFrame (columns = ["no of present", "lessthan50", "between50and60", 
                                  "between60and70", "between70and80", "greaterthan80"],index=["Quiz_1","Quiz_2"])
    result["no of present"]= [b_q1[i]["studentname"].count(),b_q2[i]["studentName"].count()]
    result["lessthan50"] = [b_q1[i][b_q1[i]["Grade/10.00"].between(0,4.9,inclusive=True)]["studentName"].count(),b_q2[i][b_q2[i]["Grade/10.00"].between(0,4.9)]["studentName"].count()]
    result["between50and60"] = [b_q1[i][b_q1[i]["Grade/10.00"].between(5,5.9,inclusive=True)]["studentName"].count(),b_q2[i][b_q2[i]["Grade/10.00"].between(5,5.9,inclusive=True)]["studentName"].count()]
    result["between60and70"] = [b_q1[i][b_q1[i]["Grade/10.00"].between(6,6.9,inclusive=True)]["studentName"].count(),b_q2[i][b_q2[i]["Grade/10.00"].between(6,6.9,inclusive=True)]["studentName"].count()]
    result["between70and80"] = [b_q1[i][b_q1[i]["Grade/10.00"].between(7,7.9,inclusive=True)]["studentName"].count(),b_q2[i][b_q2[i]["Grade/10.00"].between(7,7.9,inclusive=True)]["studentName"].count()]
    result["greaterthan80"] = [b_q1[i][b_q1[i]["Grade/10.00"].between(8,10,inclusive=True)]["studentName"].count(),b_q2[i][b_q2[i]["Grade/10.00"].between(8,10,inclusive=True)]["studentName"].count()]
    rst.append(result)
    
rst[0]

**6. Read a file named testcaseStudent.txt.**

In [0]:
txt = pd.read_csv("C:\\python\\testcaseStudent.txt",header=None,names=["inputs"])
txt

In [0]:
tst_cs = int(txt.iloc[0,0])
ind = []
for i in range(tst_cs*2+1):
    ind.append(i)
    
ind

In [0]:
file_name = ind[1::2]
column = ind[2::2]
print(file_name)
print(column)

In [0]:
v = []
for i in file_name:
    x = txt.iloc[i,0]
    y = int(x[0])
    v.append(y)
a = [i - 1 for i in v]

c = []
for i in column:
    x = txt.iloc[i,0]
    c.append(x)

print(v)
print(c)
v

In [0]:
for (x,y) in zip(a,c):
    print(rst[x][y])
    print([x])

**7. create an output file outputn.txt for inputs from the testcaseStudent.txt input file.**

In [0]:
for (x,y,z) in zip(a,c,v):
    out = "Output{}.txt".format(z)
    f = open(out, "a")
    print(rst[x][y], file=f)